[package]
name = "deterministic-wasi-ctx"
version = "0.1.6"
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"
description = "A wasi-common WasiCtx implementation that is fully deterministic"
homepage = "https://github.com/Shopify/deterministic-wasi-ctx"
keywords = ["wasi"]
categories = ["wasm"]

[dependencies]
anyhow = "1.0.56"
async-trait = "0.1.53"
cap-std = "0.25.2"
wasi-common = ">= 0.34.0, < 1.1.0"
rand_core = "0.6.3"
rand_pcg = "0.3.1"

[dev-dependencies]
more-asserts = "0.2.2"
wasmtime = "2.0.2"
wasmtime-wasi = "1.0.1"
